/*! Less CSS STYLE Romain C. */
/* Component menu Flexbox */

/*
// Original color
@menuFlexColorA: black;
@menuFlexColorAA: #333;
@menuFlexColorAAA : #888;
@menuFlexColorAAAA: #ccc; // + #eee
@menuFlexColorBB: green;

// New style violet
@menuFlexColorA: #201;
@menuFlexColorAA: #534;
@menuFlexColorAAA : #978;
@menuFlexColorAAAA: #dbc;

@menuFlexColorBB: #958;
/**/

/**
// New style blue
@menuFlexColorA: #001;
@menuFlexColorAA: #334;
@menuFlexColorAAA : #778;
@menuFlexColorAAAA: #ccc;

@menuFlexColorBB: #369;
/**/


// inherit global colors
@menuFlexColorA: @colorB;
@menuFlexColorAA: @colorBB;
@menuFlexColorAAA : @colorBBB;
@menuFlexColorAAAA: @colorBBBB;

@menuFlexColorBB: @colorCC;




* {
  //box-sizing: border-box;
}
html {
  //font-size: 12px;
}

.dont-render-dawg {
  position: absolute;
  height: 0;
  width: 0;
}

nav.main-nav-flexbox {
  * {
      box-sizing: border-box;
    }

  background: @menuFlexColorAAAA;
  ul {
    margin: 0;
    padding: 0;
    
    // Flex container style
    display: flex;
    //flex-flow:row wrap; // flex-flow  regroupe flex-direction et flex-wrap.
    flex-direction: row; // colum, column-reverse, row, row-reverse
    flex-wrap: wrap; // wrap = retour ligne autorise, nowrap = overflow
    // http://www.alsacreations.com/xmedia/tuto/exemples/flexbox/flextest05.html
    // Every flexbox has same height
    align-items:stretch; // flex-start = baseline  (valign top) ; flex-end  (valign bottom); center (valign middle) ; stretch (height : 100%)
    
    justify-content: center;
    list-style: none;
  }
  
  li {
      //align-self: flex-end; // Overwrite parent align-items
      //flex: 1; // flex size
  }
  
  li:last-child { // Align to the right the last item
      margin-left: auto;
      //flex: 1; // flex size
  }
  
  a {
    padding: 1.25rem 0.5rem;
    font-size: 1.6rem;
    //max-width: 140px; // 180px
    font-weight: bold;
    text-decoration: none;
    
    // Block style ?
    display: flex; // = height: 100%;
    
    // Flexbox style
    //display: flex;
    //align-items: flex-start;
    // http://www.alsacreations.com/xmedia/tuto/exemples/flexbox/flextest05.html
    // Every flexbox has same height
    //align-items:stretch; // flex-start = baseline  (valign top) ; flex-end  (valign bottom); center (valign middle) ; stretch (height : 100%)

    // Menu Button Style :
    .rounded(3px);
    .gradient(@menuFlexColorAAA,@menuFlexColorAA);
    color: @menuFlexColorA; // #333;
    border:2px solid @menuFlexColorAAA;
    outline:none;
    
    &:hover, &:focus, &:active {
      // Menu Button Style Hover/Active:
      background-color: @menuFlexColorAAA; // #ccc
    .gradient(@menuFlexColorAAAA,@menuFlexColorAAA);
      color: @menuFlexColorBB; // Black
      border:2px solid @menuFlexColorAA;
      
      svg {
        fill: @menuFlexColorBB; // green
      }
      span {
        //color: @menuFlexColorA; // Black
      }
    }
  }
  span {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    //color: @menuFlexColorAAAA;
    margin: 0.25rem 0 0 0;
    min-width: 12em;
  }
  .icon {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 1rem;
    fill: #999;
  }
  &.outlines {
    * {
      //outline: 1px solid rgba(red, 0.5); 
      outline: 1px solid rgba(255,0,0 , 0.5); 
    }
  }

  .ico.download:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
    //.svg.ico.down.bg;
	.svg.download;
    //.debug;
  }
  .ico.help:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
    //.svg.ico.down.bg;
	.svg.help;
    //.debug;
  }
  .ico.settings:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.settings;
    //.debug;
  }
  .ico.back:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.arrowleft2;
    //.debug;
  }
  
  .ico.home:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.home; //  : better icon
    //.debug;
  }
  .ico.contact:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.notebook; //  : better icon
    //.debug;
  }
  .ico.client:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.user; // people; //  : better icon
    //.debug;
  }
  .ico.about:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.help; //  : better icon
    //.debug;
  }
  .ico.search:before {
    .svg.ico.block.before; // or .svg.ico.uxrepo.before
	.svg.search; //  : better icon
    //.debug;
  }
}


.svg.ico.block.before { // Size & Positionning RaphaelJS icon
	content:" ";	
	//border:1px solid red; // debug 
	
	//background-size: 50px 50px;
	background-size: contain;
	background-repeat: no-repeat;
	//background-position:0.2em 0.9em; // Centrage horizontal et vertical
	//padding-left:3em;
	//margin:0.6em; // espacements lateraux	
	//line-height:1em;
	//height:1em;
	//padding:1.1em; // Dimension icone
	//padding-top:1.2em;
	//-webkit-mask-size:3em;
	
	display: block;
    float: left;
    height: 4em;
    width: 30%;
}
    

// Form controls
.options {
  text-align: center;
  padding: 2rem 0;
  select {
    margin-right: 2rem;
  }
}

@media (min-width: 1000px) {
  .main-nav {
    a {
      max-width: 500px;
      font-size: 2rem; 
    }
    .icon {
      width: 25px;
      height: 25px;
    }
  }
}